.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    gap: 20px;
    margin-top: 20px;
    margin-left: 10px;
}



.logo {
    font-family: "Quicksand", sans-serif;
    font-style:normal ;
    font-weight: bold ; 
    font-size:  30px; 
    line-height: 1.6;
    letter-spacing: -0.02em;
    color: #0A1932;
}

.logo-dot {
    color: #824FF1;
}


.nav-list{
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 20px;  
}

.sign-in {
    margin-left: 300px ;
}

.sign-btn {
    width: 120px;
    height: 59px;
    margin-left: 250px;
    background-color: #824FF1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}

.main-heading {
    max-width: 495px;
    width: 30%;
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
}

.main-content {
    max-width: 583px;
    width: 50%;
    margin-top: 30px;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
}

.main-btn {
    width: 152px;
    height: 64px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: #824FF1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}

img {
    max-width: 506px;
    width: 50%;
   
}

section {
    display: flex;
    margin-top: 100px;
    max-height: 600px;
}






